div {
  margin: 1em 0px;
}

div.main {
  margin: 1em 1em;
}

p {
  margin: 1em 0px;
  line-height: 1.4;
}

td, th {
  padding: 0 0.5em 0 0;
  line-height: 1.4;
}

div.status {
  margin: 0em 0px;
  text-align: center;
}

a:link, a:visited { color: #0000ff; }

.menu a:link { color: #8888ff; }
.menu a:visited { color: #8888ff; }
.debug_gray a:link { color: #ccccff; }
.debug_gray a:visited { color: #ccccff; }

.gray {
  color: #aaaaaa;
}

.debug_gray  {
  margin: 1em 1em;
  color: #cccccc;
}

.right, .r {
  text-align: right;
}
